.menu__item a {
    color: var(--cor-branco);
    text-decoration: none;
    transition: .5s;
}

.menu__item a:hover {
    color: var(--cor-laranja-claro);
}

.menu__item:nth-child(1) {
    padding-right: 100px;
}

.menu__item:nth-child(4)::before {
    content: url(../../images/icone-gps.png);
    cursor: pointer;
    padding-right: 8px;
    transition: 3.3s;
}

.menu__item:nth-child(4)::after {
    content: url(../../images/icone-seta.png);
    cursor: pointer;
    padding-left: 8px;
    transition: 3.3s;
}

.menu__item:nth-child(4)::after:hover,
.menu__item:nth-child(4)::before:hover {
    background-color: var(--cor-laranja-claro);
}

@media (min-width: 720px) {
    .menu__item:nth-child(1) {
        padding-right: 0;
    }
}