.cabecalho__menu {
    align-items: center;
    column-gap: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

@media (min-width: 720px) {
    .cabecalho__menu {
        column-gap: 75px;
    }
}

@media (min-width: 1440px) {
    .cabecalho__menu {
        column-gap: 105px;
        flex-wrap: nowrap;
    }
}