.categorias__imagem {
    background-image: url("../../../images/destaques-360.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 271px;
    margin-bottom: 1.5rem;
    opacity: 1;
    transition: 0.5s;
}

.categorias__imagem:hover {
    opacity: 0.7;
}

@media (min-width: 720px) {
    .categorias__imagem {
        background-image: url("../../../images/apresentacao-720.png");
    }
}

@media (min-width: 1440px) {
    .categorias__imagem {
        background-position-y: bottom;
        height: 224px;
        margin-bottom: 0;
    }
}