.lista__item {
    cursor: pointer;
    min-width: 282px;
    opacity: 1;
    padding: 1.5rem;
    text-transform: uppercase;
    transition: 0.5s;
    user-select: none;
}

.lista__item:hover {
    opacity: 0.7;
}

.categorias__lista .lista__item:nth-child(1),
.lista__item:nth-child(5) {
    background-color: var(--cor-laranja-claro);
}

.categorias__lista .lista__item:nth-child(2),
.lista__item:nth-child(6) {
    background-color: var(--cor-laranja-escuro);
}

.categorias__lista .lista__item:nth-child(3),
.lista__item:nth-child(7) {
    background-color: var(--cor-rosa);
}

.categorias__lista .lista__item:nth-child(4),
.lista__item:nth-child(8) {
    background-color: var(--cor-esverdeado-escuro);
}