.eventos__lista {
    column-gap: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 1rem;
}

@media (min-width: 720px) {
    .eventos__lista {
        justify-content: end;
    }
}
