@import url(./header/cabecalho-menu.css);
@import url(./header/menu-input.css);
@import url(./header/menu-item.css);
@import url(./header/menu-pesquisar.css);
@import url(./header/menu-titulo.css);
@import url(./main/principal.css);
@import url(./main/banner.css);
@import url(./main/categorias.css);
@import url(./main/categorias/categorias-titulo.css);
@import url(./main/categorias/categorias-lista.css);
@import url(./main/categorias/lista-itens.css);
@import url(./main/categorias/categorias-destaques.css);
@import url(./main/categorias/destaques.css);
@import url(./main/categorias/destaques-titulo.css);
@import url(./main/categorias/destaques-barra.css);
@import url(./main/categorias/categorias-imagem.css);
@import url(./main/eventos/eventos-titulo.css);
@import url(./main/eventos/eventos-item.css);
@import url(./main/agenda/agenda-titulo.css);
@import url(./main/agenda/agenda-item.css);
@import url(./main/agenda/agenda-informacoes.css);
@import url(./main/agenda/agenda-atracao.css);
@import url(./footer/rodape.css);
@import url(./footer/rodape-titulo.css);
@import url(./footer/rodape-lista.css);
@import url(./footer/rodape-logo.css);

:root {
    --cor-rosa:#BF4968; 
    --cor-esverdeado-escuro:#3A848C;
    --cor-esverdeado-claro: #6AA69B;
    --cor-laranja-claro:#F2994B;
    --cor-laranja-escuro: #D95F43;
    --cor-branco: #FFFFFF;
    --cor-preto: #000000;

    --ff-fjalla: 'Fjalla One', sans-serif;
    --ff-work: 'Work Sans', sans-serif;

    --fw-semibold: 600;
    --fw-regular: 400;

    --fs-1: 12px;
    --fs-2: 14px;
    --fs-3: 16px;
    --fs-4: 18px;
    --fs-5: 20px;
    --fs-6: 24px;
    --fs-7: 32px;
}

body {
    background-color: var(--cor-branco);
    color: var(--cor-preto);
    font-family: var(--ff-work);
    font-size: var(--fs-3);
    font-weight: var(--fw-regular);
    height: 100vh;
}

img {
    opacity: 1;
    transition: 0.5s;
}

img:hover {
    opacity: 0.7;
}

/* Estilos Compartilhados */
.categorias__titulo,
.destaques, 
.eventos__titulo, 
.agenda__titulo {
    font-family: var(--ff-fjalla);
    font-size: 20px;
    text-transform: uppercase;
}

.eventos__botao button:hover,
.agenda__botao button:hover,
.eventos__item button:hover,
.agenda__atracao button:hover {
    background-color: var(--cor-laranja-claro);
}

.eventos__botao button,
.agenda__botao button {
    background-color: var(--cor-rosa);
    border: none;
    color: var(--cor-branco);
    cursor: pointer;
    outline: none;
    padding: .75rem 0;
    transition: .5s;
    width: 148px;
}